.cart {
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.heart {
    cursor: pointer;
    font-size: 20px;    
    color: red;
}

.textarea {
    width:100%;
    outline:none;
    border:none;
    border-bottom: 1px solid black;
}

.ellipsis2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 줄 수 */
  -webkit-box-orient: vertical;
  cursor: pointer;
}